<!--ã“ã“ã§ã¯ã€@userã‚’æ„è­˜ã™ã‚‹å¿…è¦ã¯ãªã„ã€‚rendered by users/show -->


<!-- irb(main):001> app.microposts_path(slug: "a")=> "/a/microposts" -->

<%= form_with(model: @micropost, url: "/#{@user.slug}/microposts", method: :post, local: true, html: { class: "micropost-form" }) do |f| %>
  <!-- å…¥åŠ›ãƒ•ã‚£ãƒ¼ãƒ«ãƒ‰ -->
  <div class="field">
  <button type="button" onclick="makeBold()" class="btn btn-light">B</button>

  <%= f.text_area :content, 
  placeholder: "i dont think anything is hard. it just takes time.", 
  class: "mt-2 p-4 rounded border shadow-md hover:shadow-lg transition-shadow duration-300 flex items-center w-full h-40",
  style: ";" %>


     <div class="actions text-right mt-2">
      <button
        class="px-4 py-2 bg-gray-200 text-gray-500 border border-gray-300 
               rounded-md cursor-not-allowed
               disabled:hover:bg-gray-200 disabled:opacity-50"
        disabled>
        ðŸ¤–AI
      </button>
    <% unless current_page?(camera_path) %>
      <button class="hover:bg-yellow-500 px-4 py-2 bg-gray-100 border border-gray-300 text-gray-700 
                     hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 
                     focus:ring-gray-300 rounded-md">
        <%= link_to "ðŸ“¸ æ‰‹æ›¸ãã‚’èª­ã¿å–ã‚‹", camera_path(@user), class: "submit-button text-dark text-decoration-none" %>
      </button>
    <% end %>


      <%= f.submit "ðŸ“ ä¸‹æ›¸ãä¿å­˜", name: "draft", class: "hover:bg-yellow-500 px-4 py-2 bg-gray-200 border border-gray-300 text-gray-800 
                 hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-offset-2 
                 focus:ring-gray-400 rounded-md" %>

      <%= f.submit "post", class: "hover:bg-yellow-500 px-4 py-2 bg-gray-200 border border-gray-300 text-gray-800 
                 hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-offset-2 
                 focus:ring-gray-400 rounded-md" %>
    </div>

  </div>

  <!-- é€ä¿¡ãƒœã‚¿ãƒ³ -->
  
<% end %>


